body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:842px;
}
#u991 {
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  height:842px;
}
#u992 {
  position:absolute;
  left:2px;
  top:413px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:598px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u993 {
  position:absolute;
  left:42px;
  top:132px;
  width:340px;
  height:598px;
}
#u994 {
  position:absolute;
  left:2px;
  top:291px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
}
#u995 {
  position:absolute;
  left:42px;
  top:131px;
  width:340px;
  height:58px;
}
#u996 {
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:18px;
}
#u997 {
  position:absolute;
  left:42px;
  top:133px;
  width:340px;
  height:18px;
}
#u998 {
  position:absolute;
  left:2px;
  top:1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u999 {
  position:absolute;
  left:167px;
  top:151px;
  width:90px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1000 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:151px;
}
#u1001 {
  position:absolute;
  left:42px;
  top:236px;
  width:340px;
  height:151px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:68px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u1003 {
  position:absolute;
  left:50px;
  top:157px;
  width:26px;
  height:23px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1005 {
  position:absolute;
  left:54px;
  top:272px;
  width:73px;
  height:18px;
  font-size:14px;
  color:#999999;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:44px;
}
#u1007 {
  position:absolute;
  left:42px;
  top:189px;
  width:340px;
  height:44px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:14px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1009 {
  position:absolute;
  left:54px;
  top:202px;
  width:59px;
  height:15px;
  font-size:14px;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1011 {
  position:absolute;
  left:260px;
  top:204px;
  width:47px;
  height:16px;
}
#u1012 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u1011_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1013 {
  position:absolute;
  left:316px;
  top:204px;
  width:81px;
  height:16px;
}
#u1014 {
  position:absolute;
  left:16px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1013_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u1015 {
  position:absolute;
  left:282px;
  top:154px;
  width:90px;
  height:31px;
  font-size:14px;
  color:#E4E4E4;
  text-align:right;
}
#u1016 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1017 {
  position:absolute;
  left:54px;
  top:248px;
  width:59px;
  height:15px;
  font-size:14px;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
