body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  height:842px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:842px;
}
#u1 {
  position:absolute;
  left:2px;
  top:413px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:42px;
  top:132px;
  width:340px;
  height:598px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:598px;
}
#u3 {
  position:absolute;
  left:2px;
  top:291px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:42px;
  top:131px;
  width:340px;
  height:58px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
}
#u5 {
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:42px;
  top:133px;
  width:340px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:18px;
}
#u7 {
  position:absolute;
  left:2px;
  top:1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:167px;
  top:151px;
  width:90px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:42px;
  top:189px;
  width:340px;
  height:544px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:544px;
}
#u11 {
  position:absolute;
  left:2px;
  top:264px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:50px;
  top:157px;
  width:26px;
  height:23px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:60px;
  top:201px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:326px;
  top:203px;
  width:39px;
  height:15px;
  color:#FF9900;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:60px;
  top:224px;
  width:131px;
  height:15px;
  color:#999999;
  line-height:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:60px;
  top:265px;
  width:310px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u21 {
  position:absolute;
  left:60px;
  top:281px;
  width:73px;
  height:487px;
  font-size:14px;
  color:#999999;
  text-align:right;
  line-height:26px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:487px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:152px;
  top:281px;
  width:87px;
  height:487px;
  font-size:14px;
  line-height:26px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:487px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:152px;
  top:668px;
  width:68px;
  height:62px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:62px;
}
#u26 {
  position:absolute;
  left:2px;
  top:23px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:230px;
  top:668px;
  width:68px;
  height:62px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:62px;
}
#u28 {
  position:absolute;
  left:2px;
  top:23px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:42px;
  top:691px;
  width:340px;
  height:42px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:42px;
}
#u30 {
  position:absolute;
  left:2px;
  top:13px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:168px;
  top:703px;
  width:87px;
  height:18px;
  font-size:14px;
  color:#0000FF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
