body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:668px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  height:842px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:842px;
}
#u1 {
  position:absolute;
  left:2px;
  top:413px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:42px;
  top:132px;
  width:340px;
  height:598px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:598px;
}
#u3 {
  position:absolute;
  left:2px;
  top:291px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:42px;
  top:131px;
  width:340px;
  height:189px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:189px;
}
#u5 {
  position:absolute;
  left:2px;
  top:86px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:42px;
  top:133px;
  width:340px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:18px;
}
#u7 {
  position:absolute;
  left:2px;
  top:1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:42px;
  top:319px;
  width:340px;
  height:331px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:331px;
}
#u9 {
  position:absolute;
  left:2px;
  top:158px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:157px;
  width:26px;
  height:23px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:59px;
  top:322px;
  width:59px;
  height:188px;
  font-size:14px;
  color:#999999;
  line-height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:188px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:159px;
  top:322px;
  width:132px;
  height:188px;
  font-size:14px;
  line-height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:188px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:522px;
  top:1029px;
  width:68px;
  height:63px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:63px;
}
#u17 {
  position:absolute;
  left:2px;
  top:24px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:600px;
  top:1029px;
  width:68px;
  height:63px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:63px;
}
#u19 {
  position:absolute;
  left:2px;
  top:24px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:126px;
  top:268px;
  width:172px;
  height:15px;
  color:#CCCCCC;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:178px;
  top:170px;
  width:68px;
  height:68px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u23 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:188px;
  top:245px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:240px;
  top:248px;
  width:14px;
  height:15px;
  color:#CCCCCC;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:42px;
  top:691px;
  width:340px;
  height:42px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:42px;
}
#u29 {
  position:absolute;
  left:2px;
  top:13px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:290px;
  top:703px;
  width:30px;
  height:18px;
  font-size:14px;
  color:#0000FF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:123px;
  top:703px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#0000FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:207px;
  top:704px;
  width:10px;
  height:15px;
}
#u34_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u34_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u34_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u35 {
  position:absolute;
  left:258px;
  top:702px;
  width:28px;
  height:20px;
  font-size:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:90px;
  top:702px;
  width:28px;
  height:20px;
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:60px;
  top:356px;
  width:310px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u40 {
  position:absolute;
  left:60px;
  top:395px;
  width:310px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u41 {
  position:absolute;
  left:60px;
  top:434px;
  width:310px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u42 {
  position:absolute;
  left:60px;
  top:476px;
  width:310px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u43 {
  position:absolute;
  left:60px;
  top:516px;
  width:310px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u44 {
  position:absolute;
  left:60px;
  top:597px;
  width:310px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u45 {
  position:absolute;
  left:338px;
  top:161px;
  width:27px;
  height:15px;
  color:#CCCCCC;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:42px;
  top:131px;
  visibility:hidden;
}
#u47_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u47_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:603px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:603px;
}
#u49 {
  position:absolute;
  left:2px;
  top:294px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:38px;
  top:219px;
  width:259px;
  height:120px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:120px;
}
#u51 {
  position:absolute;
  left:2px;
  top:52px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:119px;
  top:242px;
  width:98px;
  height:15px;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:73px;
  top:278px;
  width:200px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u55 {
  position:absolute;
  left:96px;
  top:301px;
  width:30px;
  height:18px;
  font-size:14px;
  color:#0000FF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:220px;
  top:301px;
  width:30px;
  height:18px;
  font-size:14px;
  color:#0000FF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:163px;
  top:298px;
  width:10px;
  height:25px;
}
#u59_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u59_end {
  position:absolute;
  left:-5px;
  top:8px;
  width:20px;
  height:18px;
}
#u59_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:25px;
}
