body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:668px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:842px;
}
#u5526 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  height:842px;
}
#u5527 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:413px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:598px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5528 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:132px;
  width:340px;
  height:598px;
}
#u5529 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:291px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:189px;
}
#u5530 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:131px;
  width:340px;
  height:189px;
}
#u5531 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:86px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:18px;
}
#u5532 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:133px;
  width:340px;
  height:18px;
}
#u5533 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:362px;
}
#u5534 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:319px;
  width:340px;
  height:362px;
}
#u5535 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:173px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u5536 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:157px;
  width:26px;
  height:23px;
}
#u5537 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  line-height:40px;
}
#u5538 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:322px;
  width:73px;
  height:188px;
  font-size:14px;
  color:#999999;
  line-height:40px;
}
#u5539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:40px;
}
#u5540 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:322px;
  width:132px;
  height:188px;
  font-size:14px;
  line-height:40px;
}
#u5541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u5542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:63px;
}
#u5542 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:1029px;
  width:68px;
  height:63px;
}
#u5543 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:63px;
}
#u5544 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:1029px;
  width:68px;
  height:63px;
}
#u5545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u5546 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:268px;
  width:172px;
  height:15px;
  color:#CCCCCC;
  text-align:center;
}
#u5547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u5548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5548 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:170px;
  width:68px;
  height:68px;
}
#u5549 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u5550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5550 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:245px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5552 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:248px;
  width:14px;
  height:15px;
  color:#CCCCCC;
}
#u5553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u5554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5554 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:691px;
  width:340px;
  height:42px;
}
#u5555 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u5556 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:703px;
  width:30px;
  height:18px;
  font-size:14px;
  color:#0000FF;
}
#u5557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u5558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u5558 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:703px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#0000FF;
}
#u5559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u5560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u5560 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:704px;
  width:1px;
  height:15px;
}
#u5561 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
}
#u5562 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:702px;
  width:28px;
  height:20px;
  font-size:12px;
}
#u5563 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  word-wrap:break-word;
}
#u5564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
}
#u5564 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:702px;
  width:28px;
  height:20px;
  font-size:12px;
}
#u5565 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  word-wrap:break-word;
}
#u5566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u5566 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:361px;
  width:310px;
  height:1px;
}
#u5567 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u5568 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:400px;
  width:310px;
  height:1px;
}
#u5569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u5570 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:439px;
  width:310px;
  height:1px;
}
#u5571 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u5572 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:481px;
  width:310px;
  height:1px;
}
#u5573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u5574 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:521px;
  width:310px;
  height:1px;
}
#u5575 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u5576 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:602px;
  width:310px;
  height:1px;
}
#u5577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5578 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:161px;
  width:21px;
  height:15px;
  color:#CCCCCC;
}
#u5579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u5580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u5580 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:560px;
  width:310px;
  height:1px;
}
#u5581 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u5582 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:642px;
  width:310px;
  height:1px;
}
#u5583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u5584 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:656px;
  width:19px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5586 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:642px;
  width:338px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
