body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:842px;
}
#u6630 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  height:842px;
}
#u6631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:413px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6632 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:132px;
  width:340px;
  height:600px;
}
#u6633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:485px;
}
#u6634 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:188px;
  width:340px;
  height:485px;
}
#u6635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:234px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6636 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:207px;
  width:111px;
  height:18px;
  font-size:14px;
}
#u6637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u6638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6638 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:230px;
  width:31px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u6639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u6640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6640 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:211px;
  width:30px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u6641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u6642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:2px;
}
#u6642 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:265px;
  width:338px;
  height:1px;
}
#u6643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6644 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:286px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u6645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u6646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6646 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:309px;
  width:133px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u6647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u6648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6648 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:290px;
  width:30px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u6649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u6650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:2px;
}
#u6650 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:344px;
  width:338px;
  height:1px;
}
#u6651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6652 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:366px;
  width:87px;
  height:18px;
  font-size:14px;
}
#u6653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u6654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6654 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:389px;
  width:169px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u6655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u6656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6656 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:367px;
  width:30px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u6657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u6658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:2px;
}
#u6658 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:421px;
  width:338px;
  height:1px;
}
#u6659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6660 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:442px;
  width:116px;
  height:18px;
  font-size:14px;
}
#u6661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u6662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6662 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:465px;
  width:181px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u6663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u6664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6664 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:446px;
  width:30px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u6665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u6666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:2px;
}
#u6666 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:500px;
  width:338px;
  height:1px;
}
#u6667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6668 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:520px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u6669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u6670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6670 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:543px;
  width:133px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u6671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u6672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6672 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:524px;
  width:30px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u6673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u6674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:2px;
}
#u6674 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:577px;
  width:338px;
  height:1px;
}
#u6675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
}
#u6676 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:131px;
  width:340px;
  height:58px;
}
#u6677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:18px;
}
#u6678 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:133px;
  width:340px;
  height:18px;
}
#u6679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u6680 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:151px;
  width:90px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u6682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u6682 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:154px;
  width:90px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#E4E4E4;
}
#u6683 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:86px;
  word-wrap:break-word;
}
#u6684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6684 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:202px;
  width:50px;
  height:50px;
}
#u6685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u6686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6686 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:280px;
  width:50px;
  height:50px;
}
#u6687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u6688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6688 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:358px;
  width:50px;
  height:50px;
}
#u6689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u6690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6690 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:435px;
  width:50px;
  height:50px;
}
#u6691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u6692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6692 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:514px;
  width:50px;
  height:50px;
}
#u6693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u6694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6694 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:205px;
  width:16px;
  height:16px;
  font-size:10px;
  color:#FFFFFF;
}
#u6695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u6696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6696 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:288px;
  width:16px;
  height:16px;
  font-size:10px;
  color:#FFFFFF;
}
#u6697 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u6698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u6698 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:363px;
  width:20px;
  height:16px;
  font-size:10px;
  color:#FFFFFF;
}
#u6699 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u6700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
}
#u6700 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:676px;
  width:340px;
  height:58px;
}
#u6701 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
}
#u6702 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:687px;
  width:36px;
  height:23px;
}
#u6703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  word-wrap:break-word;
}
#u6704 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:708px;
  width:68px;
  height:25px;
}
#u6704_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u6705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
}
#u6705 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:687px;
  width:36px;
  height:23px;
}
#u6706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  word-wrap:break-word;
}
#u6707 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:708px;
  width:68px;
  height:25px;
}
#u6707_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u6708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
}
#u6708 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:687px;
  width:36px;
  height:23px;
}
#u6709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  word-wrap:break-word;
}
#u6710 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:708px;
  width:68px;
  height:25px;
}
#u6710_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u6711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
}
#u6711 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:687px;
  width:36px;
  height:23px;
}
#u6712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  word-wrap:break-word;
}
#u6713 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:708px;
  width:68px;
  height:25px;
}
#u6713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u6714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
}
#u6714 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:687px;
  width:36px;
  height:23px;
}
#u6715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  word-wrap:break-word;
}
#u6716 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:708px;
  width:68px;
  height:25px;
}
#u6716_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u6717 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:202px;
  width:284px;
  height:146px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
}
#u6719 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:187px;
  width:116px;
  height:52px;
}
#u6720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:36px;
}
#u6721 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:195px;
  width:59px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:36px;
}
#u6722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6723 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:358px;
  width:284px;
  height:132px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
