body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:842px;
}
#u956 {
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  height:842px;
}
#u957 {
  position:absolute;
  left:2px;
  top:413px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:598px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  position:absolute;
  left:42px;
  top:132px;
  width:340px;
  height:598px;
}
#u959 {
  position:absolute;
  left:2px;
  top:291px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
}
#u960 {
  position:absolute;
  left:42px;
  top:131px;
  width:340px;
  height:58px;
}
#u961 {
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:18px;
}
#u962 {
  position:absolute;
  left:42px;
  top:133px;
  width:340px;
  height:18px;
}
#u963 {
  position:absolute;
  left:2px;
  top:1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u964 {
  position:absolute;
  left:167px;
  top:151px;
  width:90px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u965 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:544px;
}
#u966 {
  position:absolute;
  left:42px;
  top:189px;
  width:340px;
  height:544px;
}
#u967 {
  position:absolute;
  left:2px;
  top:264px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u968 {
  position:absolute;
  left:50px;
  top:157px;
  width:26px;
  height:23px;
}
#u969 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u970 {
  position:absolute;
  left:60px;
  top:201px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u972 {
  position:absolute;
  left:326px;
  top:203px;
  width:39px;
  height:15px;
  color:#FF9900;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:18px;
}
#u974 {
  position:absolute;
  left:60px;
  top:224px;
  width:131px;
  height:15px;
  color:#999999;
  line-height:18px;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u976 {
  position:absolute;
  left:60px;
  top:270px;
  width:310px;
  height:1px;
}
#u977 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:487px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:right;
  line-height:26px;
}
#u978 {
  position:absolute;
  left:60px;
  top:281px;
  width:73px;
  height:487px;
  font-size:14px;
  color:#999999;
  text-align:right;
  line-height:26px;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:487px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:26px;
}
#u980 {
  position:absolute;
  left:152px;
  top:281px;
  width:87px;
  height:487px;
  font-size:14px;
  line-height:26px;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:63px;
}
#u982 {
  position:absolute;
  left:152px;
  top:670px;
  width:68px;
  height:63px;
}
#u983 {
  position:absolute;
  left:2px;
  top:24px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:63px;
}
#u984 {
  position:absolute;
  left:230px;
  top:670px;
  width:68px;
  height:63px;
}
#u985 {
  position:absolute;
  left:2px;
  top:24px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u986 {
  position:absolute;
  left:42px;
  top:691px;
  width:340px;
  height:42px;
}
#u987 {
  position:absolute;
  left:2px;
  top:13px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
}
#u988 {
  position:absolute;
  left:190px;
  top:703px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#0000FF;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
