body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  height:842px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:842px;
}
#u1 {
  position:absolute;
  left:2px;
  top:413px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:42px;
  top:132px;
  width:340px;
  height:598px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:598px;
}
#u3 {
  position:absolute;
  left:2px;
  top:291px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:42px;
  top:131px;
  width:340px;
  height:58px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
}
#u5 {
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:42px;
  top:133px;
  width:340px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:18px;
}
#u7 {
  position:absolute;
  left:2px;
  top:1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:167px;
  top:151px;
  width:90px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:42px;
  top:188px;
  width:340px;
  height:151px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:151px;
}
#u11 {
  position:absolute;
  left:2px;
  top:68px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:50px;
  top:157px;
  width:26px;
  height:23px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:54px;
  top:224px;
  width:73px;
  height:18px;
  font-size:14px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:282px;
  top:154px;
  width:90px;
  height:31px;
  font-size:14px;
  color:#E4E4E4;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:54px;
  top:200px;
  width:59px;
  height:15px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
