body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  height:842px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:842px;
}
#u1 {
  position:absolute;
  left:2px;
  top:413px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:42px;
  top:132px;
  width:340px;
  height:600px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:600px;
}
#u3 {
  position:absolute;
  left:2px;
  top:292px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:42px;
  top:131px;
  width:340px;
  height:58px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
}
#u5 {
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:42px;
  top:133px;
  width:340px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:18px;
}
#u7 {
  position:absolute;
  left:2px;
  top:1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:167px;
  top:151px;
  width:90px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:157px;
  width:26px;
  height:23px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:42px;
  top:188px;
  width:340px;
  height:82px;
  color:#AEAEAE;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:82px;
}
#u13 {
  position:absolute;
  left:2px;
  top:33px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:56px;
  top:220px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:356px;
  top:218px;
  width:19px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:42px;
  top:276px;
  width:340px;
  height:48px;
  color:#AEAEAE;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:48px;
}
#u19 {
  position:absolute;
  left:2px;
  top:16px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:56px;
  top:292px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:42px;
  top:323px;
  width:340px;
  height:48px;
  color:#AEAEAE;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:48px;
}
#u23 {
  position:absolute;
  left:2px;
  top:16px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:56px;
  top:339px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:300px;
  top:199px;
  width:56px;
  height:56px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u27 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:326px;
  top:292px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:355px;
  top:339px;
  width:15px;
  height:18px;
  font-size:14px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:42px;
  top:371px;
  width:340px;
  height:48px;
  color:#AEAEAE;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:48px;
}
#u33 {
  position:absolute;
  left:2px;
  top:16px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:56px;
  top:387px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:42px;
  top:418px;
  width:340px;
  height:48px;
  color:#AEAEAE;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:48px;
}
#u37 {
  position:absolute;
  left:2px;
  top:16px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:56px;
  top:434px;
  width:30px;
  height:18px;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:283px;
  top:387px;
  width:87px;
  height:18px;
  font-size:14px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:311px;
  top:434px;
  width:59px;
  height:18px;
  font-size:14px;
  color:#999999;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:42px;
  top:131px;
  visibility:hidden;
}
#u44_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u44_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:603px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:603px;
}
#u46 {
  position:absolute;
  left:2px;
  top:294px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:10px;
  top:434px;
  width:320px;
  height:105px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:105px;
}
#u48 {
  position:absolute;
  left:2px;
  top:44px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:132px;
  top:454px;
  width:81px;
  height:15px;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:73px;
  top:483px;
  width:200px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u52 {
  position:absolute;
  left:154px;
  top:502px;
  width:33px;
  height:15px;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:10px;
  top:541px;
  width:320px;
  height:50px;
  font-size:14px;
  color:#0000FF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u55 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
