body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:842px;
}
#u7890 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  height:842px;
}
#u7891 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:413px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7892 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:132px;
  width:340px;
  height:600px;
}
#u7893 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
}
#u7894 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:131px;
  width:340px;
  height:58px;
}
#u7895 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:18px;
}
#u7896 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:133px;
  width:340px;
  height:18px;
}
#u7897 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u7898 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:151px;
  width:90px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7899 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u7900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u7900 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:157px;
  width:26px;
  height:23px;
}
#u7901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:247px;
}
#u7902 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:188px;
  width:340px;
  height:247px;
}
#u7903 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:116px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  line-height:40px;
}
#u7904 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:191px;
  width:44px;
  height:188px;
  font-size:14px;
  color:#999999;
  line-height:40px;
}
#u7905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u7906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:40px;
}
#u7906 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:191px;
  width:99px;
  height:188px;
  font-size:14px;
  line-height:40px;
}
#u7907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u7908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u7908 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:230px;
  width:310px;
  height:1px;
}
#u7909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u7910 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:269px;
  width:310px;
  height:1px;
}
#u7911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u7912 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:308px;
  width:310px;
  height:1px;
}
#u7913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u7914 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:350px;
  width:310px;
  height:1px;
}
#u7915 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u7916 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:390px;
  width:310px;
  height:1px;
}
#u7917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
