body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:842px;
}
#u5157 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  height:842px;
}
#u5158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:413px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5159 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:132px;
  width:340px;
  height:600px;
}
#u5160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
}
#u5161 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:131px;
  width:340px;
  height:58px;
}
#u5162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:18px;
}
#u5163 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:133px;
  width:340px;
  height:18px;
}
#u5164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:84px;
}
#u5165 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:189px;
  width:340px;
  height:84px;
}
#u5166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u5167 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:157px;
  width:26px;
  height:23px;
}
#u5168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5169 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:203px;
  width:56px;
  height:56px;
}
#u5170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u5171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5171 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:212px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u5172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5173 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:215px;
  width:14px;
  height:15px;
}
#u5174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u5175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5175 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:235px;
  width:172px;
  height:15px;
  color:#999999;
}
#u5176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u5177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:30px;
}
#u5177 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:154px;
  width:274px;
  height:30px;
}
#u5178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u5179 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:154px;
  width:90px;
  height:31px;
  text-align:left;
}
#u5180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u5181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:228px;
}
#u5181 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:504px;
  width:338px;
  height:228px;
}
#u5182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:106px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
