body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  height:842px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:842px;
}
#u1 {
  position:absolute;
  left:2px;
  top:413px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:42px;
  top:132px;
  width:340px;
  height:600px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:600px;
}
#u3 {
  position:absolute;
  left:2px;
  top:292px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:42px;
  top:131px;
  width:340px;
  height:58px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
}
#u5 {
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:42px;
  top:133px;
  width:340px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:18px;
}
#u7 {
  position:absolute;
  left:2px;
  top:1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:167px;
  top:151px;
  width:90px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:157px;
  width:26px;
  height:23px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:42px;
  top:199px;
  width:340px;
  height:52px;
  color:#AEAEAE;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:52px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:56px;
  top:217px;
  width:87px;
  height:18px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:356px;
  top:215px;
  width:19px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:42px;
  top:251px;
  width:340px;
  height:52px;
  color:#AEAEAE;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:52px;
}
#u19 {
  position:absolute;
  left:2px;
  top:18px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:56px;
  top:269px;
  width:87px;
  height:18px;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:356px;
  top:267px;
  width:19px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
