body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:769px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:842px;
}
#u3596 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  height:842px;
}
#u3597 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:413px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3598 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:132px;
  width:340px;
  height:600px;
}
#u3599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
}
#u3600 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:131px;
  width:340px;
  height:58px;
}
#u3601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:18px;
}
#u3602 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:133px;
  width:340px;
  height:18px;
}
#u3603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u3604 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:151px;
  width:90px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u3606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:120px;
}
#u3606 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:228px;
  width:340px;
  height:120px;
}
#u3607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u3608 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:154px;
  width:90px;
  height:31px;
  color:#E4E4E4;
  text-align:right;
}
#u3609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u3610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u3610 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:157px;
  width:26px;
  height:23px;
}
#u3611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:120px;
}
#u3612 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:469px;
  width:340px;
  height:120px;
}
#u3613 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
}
#u3614 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:188px;
  width:340px;
  height:40px;
}
#u3615 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3616 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:196px;
  width:86px;
  height:25px;
}
#u3616_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u3617 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:196px;
  width:68px;
  height:25px;
}
#u3617_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u3618_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:72px;
  height:5px;
}
#u3618 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:226px;
  width:69px;
  height:2px;
}
#u3619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3620 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:196px;
  width:102px;
  height:25px;
}
#u3620_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u3621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:148px;
}
#u3621 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:363px;
  width:359px;
  height:148px;
}
#u3622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3624 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:287px;
  width:116px;
  height:15px;
  color:#999999;
}
#u3625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u3626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3626 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:305px;
  width:188px;
  height:15px;
  color:#999999;
}
#u3627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u3628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3628 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:323px;
  width:188px;
  height:15px;
  color:#999999;
}
#u3629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u3630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3630 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:244px;
  width:134px;
  height:18px;
  font-size:14px;
}
#u3631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u3632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
  text-align:right;
}
#u3632 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:253px;
  width:39px;
  height:15px;
  color:#FF9900;
  text-align:right;
}
#u3633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3634 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:262px;
  width:67px;
  height:15px;
  color:#999999;
}
#u3635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3636 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:242px;
  width:35px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u3637 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u3638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:120px;
}
#u3638 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:349px;
  width:340px;
  height:120px;
}
#u3639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3641 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:406px;
  width:116px;
  height:15px;
  color:#999999;
}
#u3642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u3643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3643 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:424px;
  width:188px;
  height:15px;
  color:#999999;
}
#u3644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u3645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3645 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:442px;
  width:188px;
  height:15px;
  color:#999999;
}
#u3646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u3647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3647 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:363px;
  width:134px;
  height:18px;
  font-size:14px;
}
#u3648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u3649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
  text-align:right;
}
#u3649 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:372px;
  width:39px;
  height:15px;
  color:#FF9900;
  text-align:right;
}
#u3650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3651 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:381px;
  width:67px;
  height:15px;
  color:#999999;
}
#u3652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3653 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:361px;
  width:35px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u3654 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u3655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3656 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:526px;
  width:116px;
  height:15px;
  color:#999999;
}
#u3657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u3658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3658 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:544px;
  width:188px;
  height:15px;
  color:#999999;
}
#u3659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u3660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3660 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:562px;
  width:188px;
  height:15px;
  color:#999999;
}
#u3661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u3662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3662 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:483px;
  width:134px;
  height:18px;
  font-size:14px;
}
#u3663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u3664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
  text-align:right;
}
#u3664 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:492px;
  width:39px;
  height:15px;
  color:#FF9900;
  text-align:right;
}
#u3665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3666 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:501px;
  width:67px;
  height:15px;
  color:#999999;
}
#u3667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3668 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:481px;
  width:35px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u3669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u3670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:120px;
}
#u3670 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:589px;
  width:340px;
  height:120px;
}
#u3671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3673 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:646px;
  width:116px;
  height:15px;
  color:#999999;
}
#u3674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u3675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3675 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:664px;
  width:188px;
  height:15px;
  color:#999999;
}
#u3676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u3677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3677 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:682px;
  width:188px;
  height:15px;
  color:#999999;
}
#u3678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u3679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3679 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:603px;
  width:134px;
  height:18px;
  font-size:14px;
}
#u3680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u3681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
  text-align:right;
}
#u3681 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:612px;
  width:39px;
  height:15px;
  color:#FF9900;
  text-align:right;
}
#u3682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3683 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:621px;
  width:67px;
  height:15px;
  color:#999999;
}
#u3684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3685 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:601px;
  width:35px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u3686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
