body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:842px;
}
#u8320 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  height:842px;
}
#u8321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:413px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8322 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:132px;
  width:340px;
  height:600px;
}
#u8323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
}
#u8324 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:131px;
  width:340px;
  height:58px;
}
#u8325 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:18px;
}
#u8326 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:133px;
  width:340px;
  height:18px;
}
#u8327 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u8328 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:151px;
  width:90px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u8330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:84px;
}
#u8330 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:292px;
  width:340px;
  height:84px;
}
#u8331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8332 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:306px;
  width:56px;
  height:56px;
}
#u8333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u8334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8334 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:315px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u8335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8336 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:318px;
  width:14px;
  height:15px;
}
#u8337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u8338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8338 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:338px;
  width:172px;
  height:15px;
  color:#999999;
}
#u8339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u8340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:84px;
}
#u8340 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:378px;
  width:340px;
  height:84px;
}
#u8341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8342 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:392px;
  width:56px;
  height:56px;
}
#u8343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u8344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8344 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:401px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u8345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8346 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:404px;
  width:14px;
  height:15px;
}
#u8347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u8348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8348 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:424px;
  width:172px;
  height:15px;
  color:#999999;
}
#u8349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u8350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:84px;
}
#u8350 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:464px;
  width:340px;
  height:84px;
}
#u8351 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8352 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:478px;
  width:56px;
  height:56px;
}
#u8353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u8354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8354 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:487px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u8355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8356 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:490px;
  width:14px;
  height:15px;
}
#u8357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u8358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8358 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:510px;
  width:172px;
  height:15px;
  color:#999999;
}
#u8359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u8360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:84px;
}
#u8360 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:550px;
  width:340px;
  height:84px;
}
#u8361 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8362 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:564px;
  width:56px;
  height:56px;
}
#u8363 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u8364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8364 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:573px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u8365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8366 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:576px;
  width:14px;
  height:15px;
}
#u8367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u8368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8368 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:596px;
  width:172px;
  height:15px;
  color:#999999;
}
#u8369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u8370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u8370 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:154px;
  width:90px;
  height:31px;
  color:#E4E4E4;
  text-align:right;
}
#u8371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u8372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8372 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:277px;
  width:10px;
  height:15px;
}
#u8373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u8374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:81px;
}
#u8374 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:636px;
  width:340px;
  height:81px;
}
#u8375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8376 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:650px;
  width:56px;
  height:56px;
}
#u8377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u8378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8378 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:659px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u8379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8380 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:662px;
  width:14px;
  height:15px;
}
#u8381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u8382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8382 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:682px;
  width:172px;
  height:15px;
  color:#999999;
}
#u8383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u8384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:410px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
  text-align:center;
  line-height:15px;
}
#u8384 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:302px;
  width:13px;
  height:410px;
  font-size:12px;
  color:#AEAEAE;
  text-align:center;
  line-height:15px;
}
#u8385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u8386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:84px;
}
#u8386 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:189px;
  width:340px;
  height:84px;
}
#u8387 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8388 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:203px;
  width:56px;
  height:56px;
}
#u8389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u8390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8390 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:212px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u8391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8392 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:215px;
  width:14px;
  height:15px;
}
#u8393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u8394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8394 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:235px;
  width:172px;
  height:15px;
  color:#999999;
}
#u8395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u8396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
  text-align:center;
  line-height:15px;
}
#u8396 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:224px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
  text-align:center;
  line-height:15px;
}
#u8397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u8398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8398 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:716px;
  width:10px;
  height:15px;
}
#u8399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u8400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u8400 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:157px;
  width:26px;
  height:23px;
}
#u8401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8402 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:190px;
  width:332px;
  height:535px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
