body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:400px;
  height:842px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:842px;
}
#u1 {
  position:absolute;
  left:2px;
  top:413px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:42px;
  top:132px;
  width:340px;
  height:600px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:600px;
}
#u3 {
  position:absolute;
  left:2px;
  top:292px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:42px;
  top:131px;
  width:340px;
  height:58px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
}
#u5 {
  position:absolute;
  left:2px;
  top:21px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:42px;
  top:133px;
  width:340px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:18px;
}
#u7 {
  position:absolute;
  left:2px;
  top:1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:146px;
  top:151px;
  width:133px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:31px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:157px;
  width:26px;
  height:23px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:55px;
  top:403px;
  width:314px;
  height:42px;
  font-size:14px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:42px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:310px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:55px;
  top:230px;
  width:314px;
  height:46px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:46px;
}
#u15 {
  position:absolute;
  left:2px;
  top:15px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:62px;
  top:244px;
  width:89px;
  height:18px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:62px;
  top:314px;
  width:73px;
  height:18px;
  font-size:14px;
  color:#999999;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:62px;
  top:207px;
  width:73px;
  height:18px;
  font-size:14px;
  color:#999999;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:55px;
  top:335px;
  width:314px;
  height:47px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:47px;
}
#u23 {
  position:absolute;
  left:2px;
  top:16px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:62px;
  top:287px;
  width:9px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:62px;
  top:349px;
  width:116px;
  height:18px;
  font-size:14px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:279px;
  top:244px;
  width:73px;
  height:18px;
  font-size:14px;
  color:#0000FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:62px;
  top:281px;
  width:205px;
  height:14px;
  font-size:12px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:14px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
